@import url("http://yui.yahooapis.com/3.15.0/build/cssreset/cssreset-min.css");
@import url("https://fonts.googleapis.com/css?family=Audiowide|Merienda+One' rel='stylesheet' type='text/css");
@import "socialArea";

@baseFontSize: 18px;
@baseFontSize-mqu640: 11px;

/* ref: https://hail2u.net/blog/webdesign/yui3-css-reset-problem.html*/
html {
  background-color: transparent;
  background-image: none;
  -webkit-text-size-adjust: 100%;
  font-family: Audiowide, cursive, monospace, sans-serif;
  font-size: @baseFontSize;

  @media screen and (max-width: 640px) {
    font-size: @baseFontSize-mqu640;
  }
}

body {
  background: url("images/background.jpg") center center no-repeat fixed;
  background-size: cover;
  background-color: black;
  color: rgb(208, 218, 213);
}

label {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  width: 640px;
  margin: 0 auto;

  @media screen and (max-width: 640px) {
    width: 90%;
  }
}

.app-layer {
  z-index: 2;
  position: absolute;
}

.UI-layer {
  z-index: 3;
  position: absolute;
}

.p-topic {
  font-size: 1.3rem;
  text-align: center;
}

.p-btn {
  display: inline-block;
  text-align: center;
  padding: 0.2rem;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 1px;
}

.p-filter {
  background: rgba(22, 133, 144, 0.63);
  color: white;

  display:table;
  background-size: cover;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;

  span {
    display: table-cell;
    vertical-align: middle;
  }
}

// utils ==============================

.u-abs-br {
  position: absolute;
  bottom: 0;
  right: 0;
}
.u-abs-bl {
  position: absolute;
  bottom: 8px;
  left: 8px;
  // bottom: 0;
  // right: 0;
}
.u-abs-tr {
  position: absolute;
  top: 8px;
  right: 8px;
}
.u-abs-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.u-abs-band {
  position: absolute;
  left: 0;
  right: 0;
}

.u-text-cnt {
  text-align: center;
}

.u-padding-mid {
  padding: .4rem;
}

.u-mt-mid {
  margin-top: .6rem;
}

.u-half-trans {
  opacity: .6;
}

.u-horizontal-list > * {
  margin-left: .4rem;
}

// themes ==============================

.t-gray-b {
  @color: #687696;

  background: white;
  border: solid 2px @color;
  color: @color;

  &:hover {
    background:  #92A5D0;
  }
}

.t-blue {
  background: #4D85D9;
  color: white;

  &:hover {
    background:  #45AFBF;
  }
}

.t-green {
  background: #4DD97B;
  color: white;

  &:hover {
    background:  #53BF45;
  }
}

.t-cleargray {
  background: rgba(86, 89, 86, 0.66);
  color: white;

  // &:hover {
    // background:  #53BF45;
  // }
}
// ==============================

#game-field {
  position: relative;
  margin: 0 auto;
}

#repertory-wrapper {
  display: block;
  // min-height: 300px;
  overflow: auto;
  margin: 0 auto;
  // width: 640px;

  .repertory-title {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  #repertory {
    display: block;
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: auto;

    li {
      box-sizing: border-box;
      font-size: 0.8rem;
      width: 100%;
      height: 32px;
      color: white;
      z-index:3;
      cursor: pointer;
      padding: 0.4em;
      /*margin-left: 4px;*/
      margin-bottom: 4px;
      display: inline-block;
      vertical-align: top;
      overflow:hidden;
    }
  }
}

// .counter-wrapper{
//   /* main parameters */
//   @width: 50px;
//   @color: #4D85D9;
//   @hoverColor: #45AFBF;
//   @fontSize: @width/5;

//   // float: left;
//   display: inline-block;
//   text-align: center;
//   width: @width;
//   font-size: @fontSize;
//   cursor: pointer;

//   .counter-header{
//   }

//   .half-circle{
//     @rad: @width/2;
//     height: @rad;
//     width: @rad*2.4;
//     background: @color;
//     text-align: center;
//     vertical-align: middle;
//     display: table-cell;
//     &:hover{
//       background: @hoverColor;
//     }
//     &.upper{
//       border-radius:50px 50px 0 0;
//     }
//     &.lower{
//       border-radius: 0 0 50px 50px;
//     }
//   }
// }